<!doctype html>
<html lang="pl">
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<meta charset="utf-8">
		<!-- do ogarniecia
		<meta name="viewport" content="width=device-width, initial-scale=1">
		-->
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="author" content="Michal 'BotenAqua' Krepula">
		{% endblock %}
	</head>

	<body>
		<nav>

		</nav>
		{% block content %}{% endblock %}
		<footer>

		</footer>
	</body>
</html>
