<!doctype html>
<html lang="pl">
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
		{% block css %}{% endblock %}
		<meta charset="utf-8">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="author" content="Michal 'BotenAqua' Krepula">
		{% endblock %}
	</head>

	<body>
		<nav>
			<div style="height: 50px; width: 250px; background-color: red;">Logo here</div>
			<ul>
				<li><a href="#">Opcja 1</a></li>
				<li><a href="#">Opcja 2</a></li>
				<li><a href="#">Opcja 3</a></li>
			</ul>
		</nav>
		{% block content %}{% endblock %}
		<footer>
			Footer tylko zeby bylo widac czy dziala
		</footer>
	</body>
</html>
